.ul {
    margin-left: 1.5rem;
}
.ul > li {
    margin-bottom: .3rem;
}
.ul > li > svg {
    top: .2em;
}
.ul > li > p {
    margin-bottom: 0;
}
.cardIcon {
    color: #6c757d;
}
.cardWrapper {
    margin-bottom: 1.5rem;
}
.cardTitle {
    font-weight: bold;
}
.socialIcons {
    font-size: 1.7rem;
}
.socialIcons > span {
    margin-right: .8rem;
}
.socialIcons > span > svg {
    margin-left: 0 !important;
}
.withoutBorder {
    border: none;
}