html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Nunito', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

h2 {
    text-transform: capitalize;
}
* {
  box-sizing: border-box;
}
