.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #f9f9fa;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}
